.add-item{
    padding: 10px 10px;

}

.add-item input{
    padding: 10px;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

.add-item button{
    padding: 11px;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    width: 20%;
    background-color: #373776;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-item button:hover{
    background-color: #1c1c5c;
}