.header h1{
    padding: 20px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #373776;
    color: #fff;
}

.info{
    display: inline-block;
    font-size: 12px;
    text-transform: lowercase;
    margin-left: 15px;
}